$primary-color: '#292E5A';
$primary-dark: '#160f29';
$secondary-color: '#246A73';
$accent-color: '#368F8B';
$gray: '#ddd';
$light-gray: '#f5f5f5';
$white: '#fff';
$error: '#9F4141';
$error-light: '#B95050';
$warning: '#ffae42';