{% extends '/admin/adminBase.html.twig' %}


{% block title %}Administration Tech Care
{% endblock %}

{% block content_admin %}
	<div class="page-wrapper page-wrapper-admin">
		{% include '_components/crudTable.html.twig' with {
			'title' : 'Gestion des utilisateurs',
			'createRoute': 'admin_user_create',
			'createLabel': 'Ajouter un utilisateur',
			'entityProperties': entityProperties,
			'datas': datas
		}
		%}
	</div>
{% endblock %}
