{% extends 'base.html.twig' %}


{% block body %}
	<div class="page-wrapper page-wrapper-admin">
		{% include '_components/crudTable.html.twig' with {
			'title' : 'Gestion des utilisateurs Tech Care',
			'createRoute': 'admin_user_create',
			'createLabel': 'Ajouter un utilisateur',
			'entityProperties': entityProperties,
			'datas': datas
		}
		%}
	</div>
{% endblock %}
