{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-wrapper page-wrapper-admin">		

		{% include '_components/crudTable.html.twig' with {
			'title' : 'Factures de votre entreprise', 
			'entityProperties': entityProperties, 
			'datas': datas,
			'createRoute': 'invoice_new',
			'createLabel': 'Créer une facture'
		} %}
	</div>
{% endblock %}
