{% extends 'base.html.twig' %}

{% block title %}Création de devis{% endblock %}

{% block body %}
    <div class="container">
        {% include '_components/main_menu.html.twig' with {'menuItems' : menuItems} %}
    </div>
    <main>
        <h1>Page création de devis</h1>
    </main>
{% endblock %}