{% extends 'base.html.twig' %}

{% block title %}Création de devis{% endblock %}

{% block body %}
    <div class="page-wrapper page-wrapper-admin">
        <main>
            <h1 class="page-title">Page création de devis</h1>
        </main>
    </div>
{% endblock %}