{% extends 'base.html.twig' %}

{% block title %}Page de gestion des devis{% endblock %}

{% block body %}
    <div class="page-wrapper page-wrapper-admin">
        <main>
            <h1 class="page-title">Page de gestion des devis</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <span>Only admin can see this </span>
            {% endif %}
            <nav>
                <ul>
                    <li><a href="#">Créer un devis</a></li>
                </ul>
            </nav>
        </main>
    </div>
{% endblock %}