{% extends 'base.html.twig' %}

{% block title %}Page de gestion des devis{% endblock %}

{% block body %}
    <main>
        <h1>Page de gestion des devis</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <span>Only admin can see this </span>
        {% endif %}
        <nav>
            <ul>
                <li><a href="#">Créer un devis</a></li>
            </ul>
        </nav>
    </main>
{% endblock %}