{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <main>
            <h1 class="page-title">Page d'accueil</h1>
        </main>
    </div>
{% endblock %}