{% extends 'base.html.twig' %}

{% block title %}New TechcareProduct{% endblock %}

{% block body %}
    <h1>Create new TechcareProduct</h1>

    {{ include('techcare_product/_form.html.twig') }}

    <a href="{{ path('app_techcare_product_index') }}">back to list</a>
{% endblock %}
